@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-form-agregar,
.container-form-editar {
	display: flex;
	justify-content: center;
}

.custom-form,
#custom-form-editar {
	padding: 25px;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 5px 10px 30px 1px rgba(0, 0, 0, 0.15);
	max-width: 600px;
	width: 100%;
	margin: auto;
}

.custom-form,
#custom-form-editar,
h3 {
	font-size: 28px;
	color: #123c61;
}

.custom-form,
#custom-form-editar,
h4 {
	font-weight: 600;
	font-size: 16px;
	padding-block: 8px;
	color: #3d5073;
}

fieldset {
	border: none;
	margin: 0 0 10px;
	padding: 0;
	min-width: 100%;
}

input[type="text"],
input[type="number"],
input[type="url"],
textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #f5fbf8;
	margin-block: 8px;
	padding: 12px;
	border-radius: 5px;
	font-size: 16px;
	color: #88888c;
}
label {
	margin-bottom: 8px;
}
.close-btn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.close-btn svg {
	width: 20px;
	height: 20px;
	stroke: #aaa;
	stroke-width: 2;
}

.close-btn:hover svg,
.close-btn:focus svg {
	stroke: black;
}
@media (max-width: 800px) {
	.container-form-agregar,
	.container-form-editar {
		width: 80%;
	}
}
