header {
	/* Fondo transparente con opacidad */
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px; /* Ancho máximo */
	margin: 0 auto; /* Centrar en la página */
	border-bottom: 2px solid #3542d93b;
}

.logo h2 {
	color: white;
}

.boton-nuevo-personaje button {
	background-color: #4525d3; /* Verde */
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: 0.4s;
}

.boton-nuevo-personaje button:hover {
	background-color: #4645a002;
	border: solid 2px blue; /* Verde más oscuro */
}
// nav ul {
// 	width: 100%;
// 	list-style: none;
// 	display: flex;
// 	justify-content: flex-end;
// 	align-items: center;
// 	max-width: 1000px;
// }
// nav li {
// 	height: 50px;
// }
// nav a {
// 	height: 100%;
// 	padding: 0 30px;
// 	text-decoration: none;
// 	display: flex;
// 	align-items: center;
// 	color: rgb(255, 255, 255);
// }
// nav a:hover {
// 	background-color: #f0f0f0;
// }
// nav li:first-child {
// 	margin-right: auto;
// }
// .barra-lateral {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	height: 100vh;
// 	width: 250px;
// 	background-color: rgba(255, 255, 255, 0.15);
// 	backdrop-filter: blur(12px);
// 	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
// 	list-style: none;
// 	display: none;
// 	flex-direction: column;
// 	align-items: flex-start;
// 	justify-content: flex-start;
// 	z-index: 2000;
// }
// .barra-lateral li {
// 	width: 100%;
// }
// .barra-lateral a {
// 	width: 100%;
// }
// .menu-button {
// 	display: none;
// }

// @media (max-width: 800px) {
// 	.ocultarEnMovil {
// 		display: none;
// 	}
// 	.menu-button {
// 		display: block;
// 	}
// }
// @media (max-width: 400px) {
// 	.barra-lateral {
// 		width: 1;
// 	}
// }

///
