header {
	/* Fondo transparente con opacidad */
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px; /* Ancho máximo */
	margin: 0 auto; /* Centrar en la página */
	border-bottom: 2px solid #3542d93b;
}

.logo h2 {
	color: white;
}

.boton-nuevo-personaje button {
	background-color: #4525d3; /* Verde */
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: 0.4s;
}

.boton-nuevo-personaje button:hover {
	background-color: #4645a002;
	border: solid 2px blue; /* Verde más oscuro */
}
